<div class="container-fluid" id="weather">
    <div id="loading-backdrop" ng-class="{'loading-backdrop':loading}" ng-show="loading"></div>
    <div id="loading" ng-show="loading">
        <i class="fa fa-spinner fa-spin fa-5x"></i>
    </div>
    <div class="row content-header">
        <div class="col-sm-12">
            Today's Weather
        </div>
    </div>
    <div class="row horizontal-line"></div>
    <div class="row content-body">
        <div class="col-sm-12 col-md-9 control-label content-body__alert" ng-show="message.length > 0">
            <p class="bg-danger">
                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                {{message}}
            </p>
        </div>
        <form name="weatherForm" class="col-sm-12 col-md-9 form-inline content-body__form">
            <div class="form-group">
                <label for="inputCity">City:</label>
                <input type="text" class="form-control" id="inputCity" placeholder="Taipei" ng-model="params.city">
            </div>
            <div class="form-group">
                <label for="inputCountry">Country:</label>
                <input type="text" class="form-control" id="inputCountry" placeholder="TW" ng-model="params.country">
            </div>
            <button type="submit" class="btn btn-default" ng-click="search()">Search</button>
        </form>
        <div class="col-sm-12 col-md-9">
            <div class="weather-icons">
                <i class="icons-{{category}}"></i>
            </div>
            <div class="weather-text">
                <div class="weather-text__main">{{weather.main}}</div>
                <div class="weather-text__description">{{weather.description}}</div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="weather-temperature">Temperature:  {{main.tempMin}}°C ~ {{main.tempMax}}°C</div>
            <div class="weather-humidity">Humidity:     {{main.humidity}}%</div>
        </div>
    </div>
</div>
